.footer{
    padding: 30px 4%;

}

.footer-icons {
    display: flex;
    gap: 30px;
    margin: 40px 0;
}
.footer-icons img{
    width: 30px;
    cursor: pointer;
}
.footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    list-style: none;
    margin-bottom: 30px;
}
.copyright-text{
color: gray;
font-size: 14px;
}

@media (max-width:800px){
    .footer-icons img{
        width: 25px;
    }
    .footer ul {
        grid-template-columns: auto auto;
        gap: 8px;
        font-size: 14px;
    }
}

@media (max-width:500px){
    .footer-icons img{
        width: 25px;
    }
    .footer ul {
        grid-template-columns: auto;
        gap: 10px;
        font-size: 14px;
    }
}